
<div class="container mt-2">

<form method="post" action="{{ path('app_artiste_delete', {'id': artiste.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer le profil de cet artiste?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artiste.id) }}">
    <button class="btn btn-success">Supprimer</button>
</form>

</div>