{% extends 'base.html.twig' %}

{% block title %}Modifier Artiste{% endblock %}

{% block body %}
    <h1>Modifier Artiste</h1>

    {{ include('artist/_form.html.twig', {'button_label': 'update'}) }}

    <a href="{{ path('app_artist_index') }}">retour à la liste</a>

    {{ include('artist/_delete_form.html.twig') }}
{% endblock %}
